export ADDRESS="0.0.0.0:8080"
export GIN_MODE=release
export APP_ENV=prod
export MYSQL_DSN=user:password@tcp(localhost:3306)/auradb
export MYSQL_CA_PATH=
export MYSQL_MAX_OPEN_CONNS=100
export MYSQL_MAX_IDLE_CONNS=50
export MYSQL_CONN_MAX_LIFETIME=300s
export TABLES="relationships:relationships,objects:objects"