app.service_name=my-service
app.grpc.address=localhost:8080
app.otel.endpoint=localhost:4318
app.logging.level=debug
app.logging.format=console
app.mongodb.uri=mongodb+srv://admin:admin@localhost?retryWrites=true&w=majority
app.mongodb.database_name=mydatabase